name: "Code Coverage"
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  coverage:
    name: "Code Coverage"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install gcov and lcov
      run: |
        sudo apt-get update
        sudo apt-get install -y lcov
    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=Debug -DENABLE_CODE_COVERAGE=ON
    - name: Build
      run: cmake --build build
    - name: Run tests
      working-directory: build
      run: ctest
    - name: Generate coverage report
      working-directory: build
      run: |
        lcov --capture --directory . --output-file coverage.info
        lcov --remove coverage.info '/usr/*' --output-file coverage.info
        lcov --list coverage.info
        genhtml coverage.info --output-directory coverage_report
    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: code-coverage-report
        path: build/coverage_report
