name: "Code Formatting"
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  formatting-check:
    name: "Formatting Check"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install clang-format
      run: sudo apt-get install -y clang-format
    - name: Check for formatting issues
      run: clang-format --dry-run --Werror -style=file -i $(find . -name "*.cpp" -o -name "*.h")
